body, html {
    margin: 0px;
    background-color:#095E34  ;
    color: white;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.carta {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#Jugador-cartas, #Computadora-cartas{
height: 200px;
}